
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Mvc Kamp Tablo Örneği - Kategori</h3>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durumu</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Eğitim</td>
                <td>Açıklama Yapıldı</td>
                <td>True</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Spor</td>
                <td>Açıklama Yaptıp</td>
                <td>True</td>
            </tr>
        </table>
    </div>
</body>
</html>
